.layout {
	display: flex;
	min-height: 100vh;
}

.sidebar {
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-right: 1px solid var(--separator-color);
}

.exit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	gap: 9px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.link {
	display: flex;
	align-items: center;
	color: var(--text-color);
	gap: 14px;
	text-decoration: none;
}

.link:hover {
	color: var(--primary-color);
}

.active {
	color: var(--primary-color);
}



.user {
	margin-bottom: 46px;
}

.avatar {
	margin-bottom: 20px;
	filter: drop-shadow(0 8px 40px rgb(255 197 41 / 25%));
}

.name {
	color: var(--text-color);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.email {
	color: #9EA1B1;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}