.button {
	padding: 8px 30px;
	border: none;
	border-radius: 6px;
	color: var(--white-color);
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	transition: background 0.25s;
}

.accent {
	background: var(--primary-color);
}

.accent:hover {
	background: var(--primary-hover-color);
}