.head {
	position: relative;
	min-height: 165px;
	border-radius: 19px;
}

.card {
	width: 320px;
	border-radius: 19px;
	background: var(--white-color);
	box-shadow: 18px 18px 36px 0 rgb(211 209 216 / 25%);
}

.footer {
	padding: 12px;
}

.title {
	color: var(--text-color);
	font-size: 18.214px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.description {
	color: var(--text-secondary-color);
	font-size: 14.571px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.link {
	text-decoration: none;
}

.price {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 3px 10px;
	border-radius: 20px;
	background: var(--white-color);
	color: #111719;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.currency {
	color: var(--primary-color);
}

.rating {
	position: absolute;
	bottom: -12px;
	left: 15px;
	padding: 3px 8px;
	border-radius: 20px;
	background: var(--white-color);
	box-shadow: 0 6px 24px 0 rgb(254 114 76 / 20%);
	color: #111719;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.add-to-cart {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 34px;
	height: 34px;
	border: none;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}

.add-to-cart:hover {
	background: var(--primary-hover-color);
}