.input {
	min-width: 200px;
	padding: 16px 30px 16px 44px;
	border: 1px solid #EFEFEF;
	border-radius: 10px;
	background-color: #FCFCFD;
	box-shadow: 15px 20px 45px 0 rgb(233 233 233 / 25%);
	color: var(--text-color);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.input-wrapper {
	position: relative;
}

.icon {
	position: absolute;
	top: 17px;
	left: 17px;
}